<!DOCTYPE html>
<html>
<head>
  <title>Receta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">
    <a class="" href="#">
      Receta
    </a>
    <small>The simplest cookbook</small>
  </h1>
</header>
<%= yield %>
</body>
</html>
